@{
    ViewBag.Title = "Home Page";
}

<form action="~/Views/Home/AddItem" method="post">
    <div>Add ToDo Item</div>
    <input type="text" autofocus name="NewItem"/>
    <input type="submit" />
</form>